{
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 100,
  "trailingComma": "all",
  "bracketSpacing": true,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "requirePragma": false,
  "insertPragma": false,
  "proseWrap": "preserve",
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "embeddedLanguageFormatting": "auto",
  "prettier/prettier": ["error", {}, { "usePrettierrc": false }]
}
